/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}

h1 {
  font-size: 5.9vw;
}

h2 {
	font-size: 4.5vw;
}

.recipyCommentText {
	font-size: 2.2vw;
}

.recipyIngrediencesText {
	font-size: 2.2vw;
}

.recipyDescriptionText {
	font-size: 2.2vw;
}

.mainText {
	font-size: 2.2vw;
}

.navbar i after{
	font-size: 1.9vw;
}

.tag {
	font-size: 2.0vw;
}