i {
	margin-right: 5px;
}

#iron-router-progress {
  background-color: #86FBFF;
  box-shadow: 0 0 5px gray;
}

.container{
	margin-left: 20px;
	margin-right: 20px;
}

.comment {
	margin-top: 10px;
}

.ingrediences {
	margin-top: 10px;
}

.description {
	margin-top: 10px;
}

.tag-display {
	margin-top: 10px;
	font-style: italic;
	font-size: 80%;
}

.recipyBy {
	margin-top: 10px;
	font-style: oblique;
	font-size: 110;
	font-weight: bold;
}

.addRecipyForm {
	margin-right: 20px;
	margin-left: 20px;
}

.pre {
  white-space: pre;
}

.footer a {
	margin-left: 30px;
	margin-right: 30px;
	color: gray;
}

.editRecipyBtn {
	margin-top: 20px;
}

.updateRecipyBtn {
	margin-top: 20px;
}