<template name='recipies'>
	<div class='row'>
		<div class='col-xs-2 navbar-collapse collapse'>
			<ul class="nav nav-pills nav-stacked">
				{{#each tags}}
					{{> tag}}
				{{/each}}
			</ul>
		</div>

		<div class='col-xs-8'>
			{{#each recipyList}}
				{{> recipy}}
			{{/each}}
		</div>
	</div>

	<div class='col-xs-2'>
	</div>
</template>

<template name='recipy'>
	<div class='well'>
		<h2 class='recipy-title'>{{title}}</h2>
		<div class='displayComment pre'>{{comment}}</div>
		<div class='details' id="{{slug}}">
			<div class='ingrediences pre'>{{ingrediences}}</div>
			<div class='description pre'>{{description}}</div>
			<div class='recipyBy'>Recept av {{username}}</div>
			<div class='tag-display'>{{tags}}</div>

			{{#if $eq currentUser.username username}}
				<a href='/editRecipy/{{slug}}' class='btn btn-warning editRecipyBtn'><i class="glyphicon glyphicon-edit"></i>Ändra</a>
			{{/if}}
		</div>
		<!-- <div><a href="/recipy/{{slug}}" class='readMore'>Läs mer</a></div> -->
		<button class='btn btn-primary expandBtn'>Läs mer</button>
	</div>

	<script>
		$('.expandBtn').click(function (){
			$(this).prev('.details').fadeIn(2000);
			$(this).hide();
		});
	</script>
</template>


<template name='tag'>
	<li class='list-unstyled text-info' role="presentation"><a class='tag-list' href='/recipies/{{name}}'>{{name}}</a></li>
</template>