<template name='recipyDetails'>
	{{#each recipyList}}
		{{> recipyDescription}}
	{{/each}}
</template>

<template name='recipyDescription'>
	<div class='page-header'>
		<h1>{{title}}</h1>
	</div>
	<div class='comment pre'>{{comment}}</div>
	<div class='ingrediences pre'>{{ingrediences}}</div>
	<div class='description pre'>{{description}}</div>
	<div class='recipyBy'>Recept av {{username}}</div>
	<div class='tag-display'>{{tags}}</div>
	{{#if currentUser}}
		<a href='/editRecipy/{{slug}}' class='btn btn-warning editRecipyBtn'><i class="glyphicon glyphicon-edit"></i>Ändra</a>
	{{/if}}
</template>